<html>
  {% include 'head_incl.html' %}
  <body>
    {% include 'title_incl.html' %}
    <h2>Subscribers</h2>
    <table>
    <tr>
      <th>Subscriber</th>
      <th>Resource</th>
      <th>Channel</th>
    </tr>
    {% for subscriber in subscribers %}
      <tr>
        <td><a href='/channel/{{ subscriber.channel.key.id }}/subscriber/{{ subscriber.key.id }}/'>{{ subscriber.name }}</a></td>
        <td><a href='{{ subscriber.resource }}/'>{{ subscriber.resource }}</a></td>
        <td><a href='/channel/{{ subscriber.channel.key.id }}/'>{{ subscriber.channel.name }}</a></td>
      </tr>
    {% endfor %}
  </body>
</html>
